// ====== { COLORS } ====== \\
$color_dark: #403b36;
$color_main: #dab488;
$color_light: #e7ceb2;
$color_elements: #735733;
$color_hover: #382711;
$color_red: #c91d15;
$color_green: #64a955;
$color_white: #ffffff;

// ====== { FONTS } ====== \\
$font-family_logo: 'Monotype Corsiva';
$font-family_main: 'Arial';
$font-size_elements: 24px;

// ====== { SIZES } ====== \\
$size_button: 48px;
$shadow-shift: 3px;
$shadow-blur: 4px;
$shadow-size: 0px;

$width_menu_button: 270px;

$rotate_angle_scale: 20deg;