// ====== { COLORS } ====== \\
$color_dark: #202020;
$color_main: #5f5f5f;
$color_light: #d1d1d1;
$color_elements: #4d4d4d;
$color_hover: #382711;
$color_red: #c91d15;
$color_green: #14ac00;
$color_black: #000000;
$color_white: #ffffff;

// ====== { FONTS } ====== \\
$font-family_main: 'Arial';
$font-size_elements: 16px;

// ====== { SIZES } ====== \\
$size_button: 20px;